
body {
  background-color: #1f9ea8;
  margin: 0;
  padding: 0;
  text-align: center;
}


#menu {
  z-index: 2;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

table th {
  background-color: #f2f2f2;
}

/* Estilo dos botões */
button {
  background-color: #4CAF50;
  color: white;
  padding: 5px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}



/* Estilo dos formulários */
form {
  margin-bottom: 15px;
}

form input[type="text"], form input[type="email"], form input[type="date"], form input[type="number"] {
  width: 80%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 210px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #45a049;
}

#menu-bar {
  width: 45px;
  height: 40px;
  margin: 80px 0 40px 60px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: #1F9EA7;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav {
  transition: 0.3s ease;
  display: none;
}

.nav ul {
  padding: 0 22px;
}

.nav li {
  list-style: none;
  padding: 12px 0;
}

.nav li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.nav li a:hover {
  font-weight: bold;
}

.menu-bg, #menu {
  top: 0;
  left: 0;
  position: absolute;
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 220px 0 100px 30px;
  background: radial-gradient(circle, #05395a, #001e27);
  opacity: 90%;
  transition: 0.3s ease;
  margin-right: 40px;
}

.change {
  display: block;
}

.change .bar {
  background-color: white;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  width: 520px;
  height:1010px;
  transform: translate(-60%,-30%);
}

a {
  text-decoration: none;
}

.conect {
  text-decoration: none;
  color: black;
  font-weight:bolder;
}



.comeco {
  background-color: #001e27;
  width: 100%;
  height: 180px;
margin-left:-1px;
}

.logo {
  position: absolute;
  top: -10px;  /* Ajuste conforme necessário */
  left: 10px;  /* Ajuste conforme necessário */
  width: 200px;
}

.titulo {
  color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    position: absolute;
    left: 370px;
    top: 30px;
}

.quadrado-cheio {
  width: 100vw; 
  height: 100vh; 
  background-color: white; 
  position: fixed;
  top: 0; 
  left: 0;
  z-index: -1; 
}

.retangulo {
  width: 13rem;
  height: 46.1rem;
  background: #001e27;
  position: absolute;
  top: 180px;
  left: 0;
}


.texto-centralizado {
  position: absolute;
  top: 120%; 
  left: 17%; 
  font-weight: bold;
  transform: translate(-50%, -50%); 
  color: black;
  font-size: 24px; 
}

.search-container {
  display: flex;
  justify-content: left;
  margin-top: 260px;
  margin-left: 260px;
}

.search-container input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.search-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  outline: none;
}

.search-container button:hover {
  background-color: #0056b3;
}

.container {
  width: 73%;
  margin: 0 auto;
}

.rhcadastro { 
   display: flex;
   flex-direction: column;
   align-items: center;
}

.deletebttn {
  background-color: red;
  color: white;
  border: #001e27 1px solid;
  margin: 1%;
  font-weight: bolder;
}

.atualizabttn {
  background-color: #4CAF50;
  color: black;
  border: #001e27 1px solid;
  margin: 1%;
}


.row {
  display: flex;
  margin-top: 5px;
  border-bottom: 1px solid #ccc;
}

.header {
  font-weight: bold;
}

.column {
  flex: 1;
  padding: 10px;
}

.column:nth-child(odd) {
  background-color: #f2f2f2;
}

/* Estilo para pessoas cadastradas */
.pessoas-container {
  display: flex;
  flex-wrap: wrap; /* Permite que os elementos sejam enrolados em linhas */
  justify-content: center; /* Centraliza os elementos horizontalmente */
  align-items: flex-start; /* Alinha os elementos no topo */
  margin: 70px;
  overflow-x: auto;
}

.pessoa {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px; 
  max-width: 400px; 
}

.pessoa div {
  margin-bottom: 5px;
}

.pessoa strong {
  margin-right: 5px;
}


.showinfo {
  display: flex;
  justify-content: center;

}


.h2center {
  color: black;
  font-weight: bolder;
  font-size:34px;
}
.entra {
  text-decoration: none;
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 30px;
  padding: 15px 40px;
  font-size: 15px;
  display: inline-block;
  margin: 11px 150px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  font-family: Arial, Helvetica, sans-serif;}

.entra:hover {
  transform: scale(1.1);
}

.rodape{
  margin-top: 50px;
  background-color: #001e27; 
  padding: 40px 0; 
  width: 100%;
  text-align: center; 
  margin:0;
  }
  @media screen and (max-width: 796px) {
    /* Oculta o texto do banner em telas menores que 768px */
    .titulo {
    display: none;
    }
    .logo{
        margin-left:35%;
        margin-top:2%;
    }
    .comeco {
    margin-left:-1%;
    width: 102%;
    margin-top:-2%;
    }
    .rodape {
        width: 103%;
        margin-left:-2%;
    }
}
.textoo {
  font-size: 200%;
  font-weight: bold;
  text-align: center; /* Para centralizar o texto */
  margin-top:3%;
}