body {
    height: 100vh;
    background-color: #1f9ea8;
    margin: 0;
    padding: 0;
    text-align: center;
}

.comeco {
    background-color: #001e27;
    height: 180px;
    position: relative;
    margin-left: -1px;
}

.titulo {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    position: absolute;
    left: 370px;
    top: 30px;
}

.logo {
    position: absolute;
    top: -10px;  /* Ajuste conforme necessário */
    left: 10px;  /* Ajuste conforme necessário */
    width: 200px;
}

h1 {
    color: white;
    font-size: 38px;
    margin: 10px;
}

section {
    display: flex;
    margin: 30px;
    flex-direction: column;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

.conteudo .subtitulo {
    font-size: 24px;
    color: #000000;
    margin-bottom: 10px;
    font-weight: bold;
}

.conteudo .descricao {
    font-size: 18px;
    color: #000000;
    margin-bottom: 20px;
    width: 60%;
    text-align: center;
    font-weight: bold;
   
}

.dicas {
    margin-top: 20px;
    text-align: left;
    display: inline-block;
    max-width: 600px;
}

.dicas h3 {
    font-size: 20px;
    color: #9e0000;
    font-weight: bold;

}

.dicas ul {
    list-style-type: disc;
    margin: 10px 0 0 20px;
    padding: 0;
}

.dicas li {
    font-size: 16px;
    color: #000000;
    margin: 5px 0;
    font-weight: bold;

}

.conteudo2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
}

.conteudo2 p {
    display: flex;
    width: 60%;
    margin: 10px;
    font-weight: bold;
}

.img_emp {
    display: flex;
    width: 580px;
    height: 250px;
}

.img_emp2 {
    display: flex;
    width: 530px;
    height: 230px;
}

.rodape {
    margin-top: 50px;
    background-color: #001e27;
    padding: 40px 0;
    margin-left: -8px;
    text-align: center;
    margin: 0;
}

.entra {
    text-decoration: none;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 30px;
    padding: 15px 40px;
    font-size: 15px;
    display: inline-block;
    margin: 11px 400px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    /* Adicionando uma transição suave para o tamanho */
    font-family: Arial, Helvetica, sans-serif;
}

.entra:hover {
    transform: scale(1.1);
    /* Aumentando o tamanho em 10% ao passar o mouse */
}

/* Adicione esta parte ao seu CSS existente */
@media screen and (max-width: 798px) {
    /* Oculta o texto do banner em telas menores que 768px */
    .titulo {
        display: none;
    }

    .logo {
        margin-left: 35%;
    }

    .rodape {
        margin-top: -2%;
        display: flex;
        justify-content: center;
    }

    .entra {
        justify-content: center;
    }
}
@media (max-width: 1200px) {
    .entra {
        margin: 11px 300px;
    }
}

@media (max-width: 992px) {
    .entra {
        margin: 11px 200px;
    }
}

@media (max-width: 768px) {
    .entra {
        margin: 11px 100px;
    }
}

@media (max-width: 576px) {
    .entra {
        margin: 11px 50px;
        padding: 10px 30px;
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    .entra {
        margin: 11px 20px;
        padding: 8px 20px;
        font-size: 13px;
    }
}